<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EAGetMail" version="5.2.0.9" targetFramework="net472" />
  <package id="EASendMail" version="7.7.0.5" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.7" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.2.0" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="Rebex.Common" version="5.0.7579" targetFramework="net472" />
  <package id="Rebex.Mail" version="5.0.7579" targetFramework="net472" />
  <package id="Rebex.Networking" version="5.0.7579" targetFramework="net472" />
</packages>